
<%= stylesheet_link_tag 'show', :media => "all" %>


<div class="mypage0">
  <div class="mypage1">
    <div class="mypage2">
      <div class="mytitle">
        マイページ
      </div>

      <div class="item">
        <p>名前 : <%= @user.name %><br>
        メールアドレス : <%= @user.email %><br>
        プロフィール : <%= @user.profile %><br></p>
        <%= image_tag @user.image_url, size: "250x200" if @user.image? %>
      </div>
    
      <% if current_user.id == @user.id %>
        <%= link_to "編集する", edit_user_registration_path %>
        <div class"logout">
        <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
        </div>
      <% end %>

      <div class="users">
        <div class="toko">
          <div class="mytitle">
            投稿
          </div>
          <% @user.balls.each do |t| %>   
            <%= t.rule %>
            <%= t.about %>
          <% end %>
        </div>

        <div class="iine">
          <div class="mytitle">
            いいね
          </div>
          <% @user.liked_balls.each do |t| %>
            <%= t.user.name %>
            <%= t.rule %>
            <%= t.about %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
