<html>
  <head>
    <title>バスケットボールの基本情報</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/9f12b2e260"  crossorigin="anonymous"></script> 
     



    <link rel="stylesheet" 
    href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h4>分かると面白い</h4>
      <h1>バスケ基本情報</h1>

      <div class="header-list">
      <ul>

       <% if user_signed_in? %>
        <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
       <% else %>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
       <% end %>

        </ul>
      </div>
    </header>
   
    <main>
    <%= yield %>
    </main>


    <div class="first-block">
      <%= link_to "ポジション",  balls_position_path %>
    </div>

    <div class="second-block">
    </div>

    <div class="third-block">
    </div>

    
  </body>
</html>
