<html>
  <head>
    <title>バスケットボールの基本情報</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://unpkg.com/boxicons@2.0.4/css/boxicons.min.css" rel="stylesheet"
    <script src="https://kit.fontawesome.com/9f12b2e260"  crossorigin="anonymous"></script> 
     



    <link rel="stylesheet" 
    href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="bo-title">
        <%= link_to "バスケ", balls_path ,class:"bo-title" %>
      </div>
      <div class="header-list">
        <ul>
          <% if user_signed_in? %>
            <%= link_to "マイページ", user_path(current_user.id) ,class:"log" %>
            <div id="menu">
              <input type="checkbox" id="menu-btn-check">
              <label for="menu-btn-check" id="menu-btn"><span></span></label>
              <div id="menu-content">
                <ul>
                  <li><p>MENU</p></li>
                  <li><%= link_to "SCORE", balls_score_path %></li>
                  <li><%= link_to "POSITION", balls_position_path %></li>
                  <li><%= link_to "FOUL", balls_foul_path %></li>
                  <li><%= link_to "VIOLATIONS", balls_vio_path %></li>
                  <li><%= link_to "COURT", balls_court_path %></li>
                  <li><%= link_to "OTHER RULES", balls_other_path %></li>
                </ul>
              </div>
          </div>
          <% else %>
            <%= link_to "新規登録", new_user_registration_path ,class:"log" %>
            <%= link_to "ログイン", new_user_session_path ,class:"log" %>
          <% end %>
        </ul>
      </div>
    </header>
  </body>
   
  <main>
    <%= yield %>
  </main>

  <footer>

  </footer>
</html>

